<div class="row tournament-list">
  <div class="col-auto">
    <h2>{{name}}!</h2>
  </div>
  <div class="col-md-4 tournament-list">
    <button class="btn btn-sm btn-danger delete" data-id="{{id}}">DELETE</button>
  </div>
</div>

<div class="row tournament-list">
  <div class="col-auto">
    <h6>Type: {{type}}</h6>
  </div>
</div>

<div class="row tournament-list">
  <div class="col-auto">
    <h6>Start Date: {{{format_date start_date}}}</h6>
  </div>
</div>

<div class="row tournament-list">
  <div class="col-auto">
    <h6>End Date: {{{format_date end_date}}}</h6>
  </div>
</div>

<div class="row tournament-list">
  <div class="col-auto">
    <h6>Teams: {{size}}</h6>
  </div>
</div>

<body class="container-fluid">
  <h1>Tournament of Champions</h1>
  <main id="tournament" class="row">
    <div id="round-1" class="col-lg-2 col-md-2">
      
    </div>

    <div id="round-2" class="col-lg-2 col-md-2">

    </div>

    <div id="round-3" class="col-lg-2 col-md-2">
        
    </div>

    <div id="round-4" class="col-lg-2 col-md-2">

    </div>

    <div id="round-5" class="col-lg-2 col-md-2">

    </div>
  </main>
</body>


<script src="/js/profile.js"></script>
<script src="/js/bracket.js"></script>